<%= form_for :leaves do |f| %>
<div class="row">
  <div class="col-lg-10">
    <div class="row">
      <div class="col-lg-10" id="example_filter">
        <div class="row search-row">
          <div class="col-md-6 pull-left">
            <% if current_user  %>
            <%= link_to 'New Leave Application', new_leafe_path, { :class => 'btn btn-success' } %>
            <% elsif current_employee  %>
          <%= link_to 'New Leave Application', new_leafe_path, { :class => 'btn btn-success' } %>
            <% end %>
          </div>
          <div class="col-lg-6 ">
            <div class="row">
              <div class="col-md-9 ">
                <div class="filterrific-periodically-observed form-control">
                  <%#= link_to 'Add Leave Application', new_leafe_path  %>
                </div>
                <input type="text" class="form-control search">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%#= render_filterrific_spinner %>
<% end %>