<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row invoice-list">
      <div class="col-lg-4 col-sm-4">
        <p>
          <strong>Month</strong>
          <%= @salary.month %>
        </p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <p>
          <strong>Year</strong>
           <%= @salary.year %>
        </p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <p>
          <strong>Working Days</strong>
          <%= @salary.working_days %>
        </p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <p>
          <strong>Total</strong>
          <%= @salary.total %>
        </p>
      </div>
    </div>
  </div>
</div>