<%= current_employee.email %><br/>

<li class="sub-menu menu-item-leaves">
  <%= link_to leaves_path do %>
    <i class="fa fa-calendar"></i>
    <span>Leave</span>
  <% end %>
</li><br/>

<li class="sub-menu menu-item-leaves">
  <%= link_to items_index_path do %>
    <i class="fa fa-calendar"></i>
    <span>Item</span>
  <% end %>
</li><br/>

<li class="sub-menu menu-item-holidays">
  <%= link_to holidays_path do %>
    <i class="fa fa-calendar"></i>
    <span>Holiday</span>
  <% end %>
</li>
