<li class="sub-menu menu-item-leaves">
  <%= link_to leaves_path do %>
    <i class="fa fa-calendar"></i>
    <span>Leave</span>
  <% end %>
</li>

<li class="sub-menu menu-item-leaves">
  <%= link_to items_index_path do %>
    <i class="fa fa-calendar"></i>
    <span>Salary Details</span>
  <% end %>
</li>

<li class="sub-menu menu-item-holidays">
  <%= link_to holidays_path do %>
    <i class="fa fa-certificate"></i>
    <span>Holiday</span>
  <% end %>
</li>

<li class="sub-menu menu-item-employee">
  <%= link_to edit_employee_registration_path do %>
    <i class="fa fa-certificate"></i>
    <span>Password</span>
  <% end %>
</li>
